@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-lg: clamp(2.25rem, 1.099rem + 5.75vw, 8rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-black;
  @apply text-white;
}

.text-clamp {
  font-size: var(--text-lg);
  line-height: inital;
}
