@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-lg: clamp(4rem, 2.4rem + 8vw, 12rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  @apply text-base;
  @apply bg-dark-bg;
  @apply text-white;
}

.text-clamp {
  font-size: var(--text-lg);
  line-height: inital;
}
